{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Catalogue 1</h1>
    
    {% for key, label in categories %}
        <h2>{{ label }}</h2>
        <div class="product-list">
            {% for product in products %}
                {% if product.category == key %}
                    <div class="product-item">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p><strong>Prix :</strong> {{ product.price }} €</p>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn">Commander</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <a href="{% url 'dashboard' %}" class="btn">Retour au tableau de bord</a>
</div>
{% endblock %}

