{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Tableau de bord</h1>
    <p>Bienvenue {{ request.user.username }} !</p>
    {% if request.user.can_access_catalogue1 %}
        <a class="btn" href="{% url 'catalogue1' %}">Catalogue Légal</a>
    {% endif %}
    {% if request.user.can_access_catalogue2 %}
        <a class="btn" href="{% url 'catalogue2' %}">Catalogue Spécial</a>
    {% endif %}
    <a class="btn" href="{% url 'logout' %}">Se déconnecter</a>
</div>
{% endblock %}



