<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Load&Shot - Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Logo uniquement sur l'accueil -->
    <div class="header">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Load&Shot Logo">
        </a>
    </div>

    <h1>Load&Shot</h1>
    <p>Spécialiste de la vente légale et illégale d'armes.<br>Livraison discrète. Qualité garantie.</p>
    
    <a class="btn" href="{% url 'login' %}">Se connecter</a>
    <a class="btn" href="{% url 'register' %}">Créer un compte</a>
</body>
</html>

