{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Passer commande : {{ product.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Quantité :</label><br>
        <input type="number" name="quantity" min="1" required><br>
        <label>Méthode de livraison :</label><br>
        <select name="delivery_method" required>
            <option value="Retrait">Retrait</option>
            <option value="Livraison">Livraison</option>
        </select><br><br>
        <button class="btn" type="submit">Valider la commande</button>
    </form>
    <a class="btn" href="{% url 'dashboard' %}">Annuler</a>
</div>
{% endblock %}


