{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Inscription</h1>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">S'inscrire</button>
    </form>
    <p>Déjà un compte ? <a href="{% url 'login' %}">Connexion</a></p>
</div>
{% endblock %}
