{% extends 'base.html' %}
{% block nav %}{% endblock nav %}
{% block content %}
<div class="home-content">
    <img src="{% static 'images/logo.png' %}" alt="Logo Load&Shot" class="logo">
    <h1>Bienvenue sur <strong>Load&Shot</strong></h1>
    <p>La plateforme de commande la plus rapide et sécurisée.</p>
    <div class="home-buttons">
        <a href="{% url 'signup' %}" class="btn btn-primary">Inscription</a>
        <a href="{% url 'login' %}" class="btn btn-secondary">Connexion</a>
    </div>
</div>
{% endblock content %}
